* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: #191919; */
    background: #DCDCDC;
    text-align: center;
    margin-top: 20px;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}


#sun {
    margin-right: 10px;
} 

#left_img {
    margin-left: 8px;
} 


#img_main3 {
    margin-right: 5px;
}


#input_gl {
    display: inline-block;
    height: 50px;
    width: 330px;
    font-size: 28px;
}

#pzdc {
    font-size: 6.8em;
}

#dvig {
    font-size: 60px;
    color: black;
    margin-bottom: 10px;
    /* opacity: 0; */
}


#counter {
    width: 100%;
    display: none;
    justify-content: end;
}


.alert {
    color: #ffffff;
}

.bodyTest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* width: 600px; */
    /* height: 280px; */
    margin: 5% auto;
    background: #ffffff;
    border-radius: 7px;
    padding: 15px;
}


.localStorage {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 10% auto;
    background: #ffffff;
    border-radius: 7px;
    padding: 10px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 500px; */
    padding: 10px;
    border-radius: 7px;
}


.localStorage p {
    margin: 1%;

    border: 2px solid gray;
    padding: 5px;
    border-radius: 7px;
}

#P_lastGame {
    margin-bottom: 10px;
}


#testSel {
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#main3_out {
    color: black;
    font-size: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 0;
    /* opacity: 0; */
}



.div_test {
    width: 100%;
    text-align: center;
}

#anim {
    text-align: center;
    margin-top: 15px;
}

.reload {
    display: none;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 20px;
    background: #B22222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
